<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/simplecss.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div class="container">
        <div id="login">
            <div class="title">Welcome to Admin Page</div>
            <form action="">
                <div class="content">
                    <div class="row form-group btn-wrap">
                        <a href="/login.html"  class="btn btn-danger">Log In</a>
                        <a href="/register.html"  class="btn btn-danger" >Register</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>